* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container-nav {
    margin-left: 120px;
    width: 139px;
    height: 60px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.font-inter> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.navbar {
    display: flex;
    justify-content: space-between;
}

.list {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
}

.btn-primary {
    border-radius: 4px;
    background-color:
        #30B868;
    width: 164px;
    height: 44px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 120px;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: #fff;
}

.hero {
    background: url(./assets/hero-bg.png);
height: 1363px;
background-repeat: no-repeat;
 padding:123px 80px;
 text-align: center;
}

.btn1 {
    background: rgba(255, 255, 255, 1);
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 16px;
font-weight: 500;
color:  #30B868;
}

.hero h1{
    font-size: 72px;
    margin-top: 16px;
    color: white;
}

.hero h1 span {
    color: #30B868 ;
}

.hero p {
    font-size: 18px;
font-weight: 400;
color: white;
margin-top: 16px;
}

.btn-primary1 {
    border-radius: 4px;
    background-color:
        #30B868;
    width: 251px;
    height: 44px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 120px;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: #fff;
}

.btn-outline{
     border-radius: 4px;
    width: 251px;
    height: 44px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 120px;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    border: none;
    
}
.hero-content{
    align-items: center;
} 