* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container-nav {
    margin-left: 120px;
    width: 139px;
    height: 60px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.font-inter> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.navbar {
    display: flex;
    justify-content: space-between;
}

.list {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
}

.btn-primary {
    border-radius: 4px;
    background-color:
        #30B868;
    width: 164px;
    height: 44px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 120px;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: #fff;
}

.hero {
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    padding: 123px 80px;
    text-align: center;

}

.btn1 {
    background: rgba(255, 255, 255, 1);
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
}

.hero h1 {
    font-size: 72px;
    margin-top: 16px;
    color: white;
}

.hero h1 span {
    color: #30B868;
}

.hero p {
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-top: 16px;
}

.btn-primary1 {
    border-radius: 4px;
    background-color:
        #30B868;
    width: 251px;
    height: 44px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 120px;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: #fff;
}

.btn-outline {
    border-radius: 4px;
    width: 251px;
    height: 44px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 120px;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    border: none;

}

.hero-content {
    align-items: center;
}


.card-section {
    padding: 120px;
}

.card-section h2{
    text-align: center;
    font-size: 48px;
    margin-bottom: 16px;
}
.des{
    text-align: center;
    font-size: 16px;
    margin-bottom: 44px;
}
.icon{
    width: 60px;
height: 60px;
background: rgba(249, 85, 85, 1);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin-left: 110px;
margin-bottom: 16px;
}

.card{
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    padding: 24px;
    text-align: center;
    width: 322px;
height: 300px;

}
.card-pera{
    margin-top: 16px;
}

.cards{
    display: flex;
}
.brain{
    display: flex;
    gap: 60px;
}
.brain-img{

width: 600px;
height: 600px;
margin-left: 120px;
}
.brain-text{
    margin-top: 101px;

}
.sol{
    font-size: 16px;
font-weight: 500;
color: #30B868;
gap: 16px;
}
.brn{
    font-size: 48px;
font-weight: 700;
}
.para{
    font-size: 16px;
font-weight: 400;
line-height: 20px;
margin-bottom: 40px;
margin-top: 16px;
}

.point1{
    margin-bottom: 16px;
}
.point2{
    margin-bottom: 16px;
}
.point3{
    margin-bottom: 16px;
}

.think{
    text-align: center;
    margin-top: 120px;
    padding: 80px 40px;
}
.think-head{
    font-size: 40px;
font-weight: 700;
margin-bottom: 16px;
}

.think-des{
    font-size: 16px;
font-weight: 400px;

}
.think-text{
    font-size: 16px;
font-weight: 400;
}

.think-section{
    background-color: rgba(247, 246, 242, 1);
}
.think-btn{
     border-radius: 4px;
    background-color:
        #30B868;
    width: 194px;
    height: 52px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 120px;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: #fff;
}

.logo{
    width: 20px;
height: 20px;
background-color: #fff;
border-radius: 50%;
}

footer{
    background-color: rgba(0, 25, 49, 1);
}

.footer-section{
    display: flex;
    justify-content: space-between;
    padding: 120px;
}

.footer-title{
    color: #fff;
    margin-bottom: 16px ;
}

.end-text{
    text-align: center;
}