* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container-nav {
    margin-left: 120px;
    width: 139px;
    height: 60px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.font-inter> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.navbar {
    display: flex;
    justify-content: space-between;
}

.list {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
}

.btn.primary {
    border-radius: 4px;
    background-color:
        #30B868;
    width: 164px;
    height: 44px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 120px;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: #fff;
}

.btn.outline {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.tag {
    background: #1dbf73;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
}